@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html.dark input[type="date"],
html.dark input[type="search"] {
  color-scheme: dark;
}
